header {
  background-color: var(--primaryColor);
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

nav span {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

ul li {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

ul li:hover,
.router-link-active {
  background-color: rgba(255, 255, 255, 0.2);
}

button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
}

button:hover {
  background-color: #c0392b;
}

li.active {
  background-color: rgb(163, 22, 22);
}
