<!-- <div class="container">
  <div class="card">
    <h2>Register</h2>

    <div class="form-group">
      <label for="firstname">First Name</label>
      <input id="firstname" type="text" [(ngModel)]="userObject.first_name" />
    </div>

    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input id="lastname" type="text" [(ngModel)]="userObject.last_name" />
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" type="text" [(ngModel)]="userObject.username" />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" [(ngModel)]="userObject.password" />
    </div>

    <div class="form-group">
      <label for="user-role">Role</label>
      <select id="user-role" [(ngModel)]="userObject.role">
        <option value="ADMIN">Admin</option>
        <option value="EMPLOYEE">User</option>
      </select>
    </div>

    <button (click)="onSaveUser()">Add User</button>
  </div>
</div> -->
